<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-1">
                <button mat-fab color="warn" (click)="onCreateNew()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
            <div class="col-md-4">
                <div class="search-div">
                    <mat-form-field class="search-form-field" floatLabel="never">
                        <input matInput [(ngModel)]="searchKey" placeholder="Buscar" autocomplete="off" (keyup)="applyFilter()">
                        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Presentaciones</h4>
                        <p class="card-category">Registro de ponencias desarrolladas en el INAIGEM</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">

                            <div class="mat-elevation-z8">
                                <mat-table [dataSource]="listData" matSort>
                                    <ng-container matColumnDef="ID">
                                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                        <mat-cell *matCellDef="let element; index as i">{{i+1}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="url">
                                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Url</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.url}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="fechaPresentacion">
                                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Fecha Presentacion</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.fechaPresentacion}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="title">
                                        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Titulo</mat-header-cell>
                                        <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                        <mat-cell *matCellDef="let row">
                                            <button mat-icon-button><mat-icon>launch</mat-icon></button>
                                            <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
                                        </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="loading">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            Cargando datos...
                                        </mat-footer-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="noData">
                                        <mat-footer-cell *matFooterCellDef colspan="6">
                                            Sin presentaciones por ahora...
                                        </mat-footer-cell>
                                    </ng-container>

                                    <mat-header-row *matHeaderRowDef="displayColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayColumns;"></mat-row>
                                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"> </mat-footer-row>
                                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"> </mat-footer-row>
                                </mat-table>
                                <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>