<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Posición de Investigador</h4>
                        <p class="card-category">Aqui puedes gestionar los posibles cargos que un investigador puede tener durante su permanencia en el INAIGEM.</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <button mat-fab color="warn" (click)="createPosition()">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>