<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Edit Profile</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <form>
                          <div class="row">
                              <div class="col-md-5">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="INAIGEM" disabled>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-3">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Usuario" name="username" [(ngModel)]="usuario.username">
                                  </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email" name="email" [(ngModel)]="usuario.email" type="email">
                                  </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre"  type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Primer Apellido" name="primerApellido" [(ngModel)]="usuario.primerApellido" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Segundo Apellido" name="segundoApellido" [(ngModel)]="usuario.segundoApellido" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Dirección" name="direccion" [(ngModel)]="usuario.direccion"  type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Ciudad" name="ciudad" [(ngModel)]="usuario.ciudad" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Pais" name="country" [(ngModel)]="usuario.country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Celular" name="telefono" [(ngModel)]="usuario.telefono"   type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <label>About Me</label>
                                <mat-form-field class="example-full-width">
                                   <textarea matInput name="bio" [(ngModel)]="usuario.bio" placeholder=""></textarea>
                                 </mat-form-field>
                                  <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                              </div>
                          </div>
                          <button mat-raised-button type="button" (click)="updateUser()" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                        <div *ngIf="usuario?.foto; else elseBlock">
                          <img src="{{url_backend}}/api/upload/img/{{usuario.foto}}" class="img" alt="...">
                        </div>
  
                        <ng-template #elseBlock>
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                        </ng-template>
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">{{usuario.nombre}} {{usuario.primerApellido}}</h4>
                      <p class="card-description">
                          {{usuario.bio}}
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>

              <div class="card-body">
                <div class="input-group">
                  <div class="custom-file">
                    <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">Buscar Foto</label>
                  </div>
                  <div class="input-group-append">
                    <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Subir</button>
                  </div>
                </div>
                <!--Barra de Progreso-->
                <div class="progress" *ngIf="progresoSubidoFoto > 0" >
                  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" [ngStyle]="{width: progresoSubidoFoto+'%'}" attr.aria-valuenow="{{progresoSubidoFoto}}" aria-valuemin="0" aria-valuemax="100">
                    {{progresoSubidoFoto}}
                  </div>
                </div>
                <!--Fin Barra de Progreso-->
              </div>
          </div>
      </div>
  </div>
</div>
